<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.hm.bluetooth" version="0.5.1">

    <name>Bluetooth</name>
    <description>The "BCSphere/Bluetooth" is a professional Bluetooth plugin. It is the core implementation of Universal Bluetooth JavaScript API by a Bluetooth expert team. It supports both Bluetooth 4.0 GATT interface in iOS/Android and Bluetooth 2.1 Classical interface in Android.</description>
    <license>Apache 2.0</license>
    <keywords>bcsphere,bluetooth</keywords>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
	
	<js-module src="www/org.bcsphere.bluetooth/bluetoothapi.js" name="bluetoothapi">
        <merges target="navigator.bluetooth" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BCBluetooth">
                <param name="android-package" value="org.bcsphere.bluetooth.BCBluetooth"/>
            </feature>
        </config-file>
		
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
            <!-- android 6 -->
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        </config-file>
		
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
        </config-file>

        <source-file src="src/android/org/bcsphere/bluetooth/BCBluetooth.java" target-dir="src/org/bcsphere/bluetooth" />
		<source-file src="src/android/org/bcsphere/bluetooth/IBluetooth.java" target-dir="src/org/bcsphere/bluetooth" />
		<source-file src="src/android/org/bcsphere/bluetooth/BluetoothG43plus.java" target-dir="src/org/bcsphere/bluetooth" />
		<source-file src="src/android/org/bcsphere/bluetooth/BluetoothSerialService.java" target-dir="src/org/bcsphere/bluetooth" />
		<source-file src="src/android/org/bcsphere/bluetooth/tools/BluetoothDetection.java" target-dir="src/org/bcsphere/bluetooth/tools" />
		<source-file src="src/android/org/bcsphere/bluetooth/tools/Tools.java" target-dir="src/org/bcsphere/bluetooth/tools" />
    </platform>
   

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BCBluetooth">
                <param name="ios-package" value="BCBluetooth"/>
            </feature>
        </config-file>
        <header-file src="src/ios/BCBluetooth.h" />
	<source-file src="src/ios/BCBluetooth.m" />
        <framework src="CoreBluetooth.framework" weak="true" />
    </platform>

</plugin>
